html,body{
    background-color:#1e272e;
    color: whitesmoke;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.lengthInput{
    width: 3rem;
}

canvas{
    min-width: 50%;
    max-width: fit-content;
    max-height: fit-content;
}